h1, h2, h3 {
    color: purple;
}

ul {
    list-style-type: circle;
}

::marker {
    color: rgb(52, 180, 174);
    font-size: 25px;
}

.navbar {
    background-image: linear-gradient(to right, rgb(52, 180, 174), rgb(132, 240, 234), rgb(52, 180, 174));
    padding: 20px 0;
}

.navbar-brand {
    color: purple;
    font-weight: bold;
}

.nav-link {
    color: purple;
}

footer {
    background-image: linear-gradient(rgb(52, 180, 174), white);
    padding: 20px 0;
    text-align: center;
}

